<html>
<body>
<h2>all selling</h2>
	
	<%for(var i=0;i<selling.length;i++)


{%>


	<p>[id:<%=selling[i].id%>,productID:<%=selling[i].product%>,price:<%=selling[i].price%>,startdate:<%=selling[i].startdate%>,enddata:<%=selling[i].enddate%>,rating:<%=selling[i].rating%>,reviews:<%=selling[i].reviews%>]</p>
<%}
%>



	</body>
	</html>
