<!DOCTYPE html>
<!-- saved from url=(0099)http://www.ebay.com/itm/hp-ku-0316-Keybord-/191427500712?pt=PCA_Mice_Trackballs&hash=item2c91f7daa8 -->
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--  fix for IE freezing.  -->
<style type="text/css">
body #Body .btn, body #Body c-std {
filter:none;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079bc',endColorstr='#00509d')";
}
</style>
	<meta name="viewport"> 
	<meta name="layout" content="main">
	<!-- Use ?ForceSiteSpeedGauge=true for forcing -->
	<meta name="msvalidate.01" content="CB0919578198D18709307978949E1B72"><meta property="og:site_name" content="eBay"><meta name="yandex-verification" content="6643aad5513535b7"><meta name="google-site-verification" content="8kHr3jd3Z43q1ovwo0KVgo_NZKIEMjthBxti8m8fYTg"><title> HP KU 0316 Keybord | eBay </title><link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.ebay.com/itm/hp-ku-0316-Keybord-/191427500712"><meta name="y_key" content="acf32e2a69cbc2b0"><meta property="og:type" content="ebay-objects:item"><meta name="description" content="<%=productname%> in Computers/Tablets &amp; Networking, Keyboards, Mice &amp; Pointing, Keyboards &amp; Keypads | eBay"><link rel="canonical" href="http://www.ebay.com/itm/hp-ku-0316-Keybord-/191427500712"><meta name="twitter:image0:src" content="http://galleryplus.ebayimg.com/ws/web/191427500712_1_0_1/500x500.jpg"><meta name="twitter:image1:src" content="http://galleryplus.ebayimg.com/ws/web/191427500712_2_0_1/500x500.jpg"><meta name="keywords" content=" <%=productname%>, Computers/Tablets &amp; Networking, Keyboards, Mice &amp; Pointing, Keyboards &amp; Keypads"><meta name="twitter:image2:src" content="http://galleryplus.ebayimg.com/ws/web/191427500712_3_0_1/500x500.jpg"><meta property="og:image" content="http://i.ebayimg.com/images/i/191427500712-0-1/s-l1000.jpg"><meta name="twitter:image3:src" content="http://galleryplus.ebayimg.com/ws/web/191427500712_4_0_1/500x500.jpg"><meta property="fb:app_id" content="102628213125203"><meta name="ROBOTS" content="NOODP"><meta property="og:description" content="US $0.99 Used in Computers/Tablets &amp; Networking, Keyboards, Mice &amp; Pointing, Keyboards &amp; Keypads"><meta property="og:title" content=" <%=productname%> ;)"><meta property="og:url" content="http://www.ebay.com/itm/hp-ku-0316-Keybord-/191427500712"><meta name="twitter:app:name:googleplay" content="eBay"><meta name="twitter:app:id:googleplay" content="com.ebay.mobile"><meta name="twitter:app:url:googleplay" content="ebay://link/?nav=item.view&amp;id=191427500712&amp;referrer=http%3A%2F%2Frover.ebay.com%2Frover%2F1%2F711-81568-27276-4%2F16%3F&amp;min_version=17"><meta name="twitter:app:url:iphone" content="ebay://launch?itm=191427500712&amp;_trksid=p12345&amp;referrer=http%3A%2F%2Frover.ebay.com%2Frover%2F1%2F711-81568-27276-4%2F16%3F"><meta name="twitter:app:name:ipad" content="eBay"><meta name="twitter:app:name:iphone" content="eBay"><meta name="twitter:app:id:iphone" content="282614216"><meta name="twitter:app:id:ipad" content="364203371"><meta name="twitter:app:url:ipad" content="padebay://launch?itm=191427500712&amp;_trksid=p12345&amp;referrer=http%3A%2F%2Frover.ebay.com%2Frover%2F1%2F711-81568-27276-4%2F16%3F"><meta name="twitter:image" content="http://i.ebayimg.com/images/i/191427500712-0-1/s-l1000.jpg"><meta name="twitter:title" content=" <%=productname%>"><meta name="twitter:site" content="@eBay"><meta name="twitter:card" content="gallery"><!--[if IE]><link/><![endif]-->
	<!--[if lt IE 8]>
		<![endif]-->


    <!-- adding lens js -->
<link href="stylesheets/cakcqsm3fe1djpkblj5vzypxuml.css" type="text/css" rel="stylesheet">
<link href="stylesheets/pn5r4hbtoyyxhbnzwbvkw05qouv.css" type="text/css" rel="stylesheet">
<link href="stylesheets/qwmqs4drc21cdfd3koczieoamu2.css" type="text/css" rel="stylesheet">
<style type="text/css">body .is.vi-ppc-main .mm-dp {
width:35%;
}</style><script type="text/javascript" async="" src="stylesheets/y1j3oa3que4sfpldq154zn01p.js"></script><style type="text/css">.colw-tooltip {background: none repeat scroll 0 0 #ffffff;border: 1px solid #dddddd;border-radius: 3px 3px 3px 3px;box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.35);font-size: 13px;padding: 20px;position: absolute;top: 36px;width: 340px;line-height: 17px;z-index:999;color:#333333;margin-top: 5px;font-family: arial;}.clnw-icn .colw-tooltip {top: 42px;}.clnw-lk .colw-tooltip {top: 22px;}.colw-tooltip:before {border-bottom: 7px solid #ffffff;border-left: 7px solid transparent;border-right: 7px solid transparent;border-color: #dddddd transparent;content: "";display: inline-block;left: 10px;position: absolute;top: -7px;}.colw-tooltip:after {border-bottom: 6px solid #ffffff;border-left: 6px solid transparent;border-right: 6px solid transparent;content: "";display: inline-block;left: 11px;position: absolute;top: -6px;}.colw-tooltip.tor:before {left: 92%;}.colw-tooltip.tor:after {left: 92.5%;}</style><link type="text/css" rel="stylesheet" href=".stylesheets/ba0ubhqp1u21nk25te1r3jlcgis"><link type="text/css" rel="stylesheet" href="stylesheets/42veamnesayuphbpaxw0kevnzml"></head>
<body class=" vi-contv2  lhdr-ie- vi-hd-ops  "><div id="gh-gb" tabindex="-1"></div>

<!-- Default filmstrip js used with main image -->
		<!-- adding filmstrip js used in main pic and with images carousel  -->
		<div id="Head">	
		</div>
	
	
	<div id="Body" class="sz940 sz1280" itemscope="itemscope" itemtype="http://schema.org/Product">
		<div id="TopPanelDF"><div id="Top"> 
				<div id="TopPanel">			
				<div id="gh" class="gh-w no-touch gh-flex"><!--<![endif]--><table class="gh-tbl"><tbody><tr><td class="gh-td"><!--[if lt IE 9]><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="117" height="120" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="http://ir.ebaystatic.com/rs/v/apstidvcvu5pxlbxkphrrdo5iqv.png" id="gh-logo"></a><![endif]--><!--[if (gte IE 9)|!(IE)]><!--><a href="http://www.ebay.com/" class="iclg" _sp="m570.l2586" id="gh-la">eBay<img width="250" height="200" style="clip:rect(47px, 118px, 95px, 0px); position:absolute; top:-47px;left:0" alt="" src="public/stylesheets/fxxj3ttftm5ltcqnto1o4baovyl.png" id="gh-logo"></a><!--<![endif]--></td></tr></tbody></table><div id="gh-top"><ul id="gh-topl"><li class="gh-t gh-spr" id="gh-eb-u"><a href="http://www.ebay.com/itm/hp-ku-0316-Keybord-/191427500712?pt=PCA_Mice_Trackballs&hash=item2c91f7daa8#" id="gh-ug" class="gh-ua gh-control" aria-expanded="false" aria-controls="gh-eb-u-o" role="button">Hi <b><%=email%></b>!<b class="gh-eb-arw gh-sprRetina"></b></a></li><li class="gh-t gh-spr " id="gh-p-2"><a href="http://csr.ebay.com/cse/sell.jsf" _sp="m570.l1528" class="gh-p">Sell</a></li></ul><ul id="gh-eb"><li id="gh-eb-My" class="gh-eb-li gh-dd" data-imp="10"><div class="gh-menu"><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&gbh=1" _sp="m570.l2919" class="gh-eb-li-a">My eBay</a><a href="http://www.ebay.com/itm/hp-ku-0316-Keybord-/191427500712?pt=PCA_Mice_Trackballs&hash=item2c91f7daa8#gh-eb-My" role="button" aria-expanded="false" aria-controls="gh-eb-My-o" class="gh-acc-exp-a gh-acc-a2 gh-control ">Expand My eBay</a><div class="gh-submenu gh-eb-o" id="gh-eb-My-o" style="display: none;"><ul role="navigation"><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&gbh=1&CurrentPage=MyeBaySummary&ssPageName=STRK:ME:LNLK:MESUMX" _sp="m570.l1533" class="gh-eb-oa thrd">Summary</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&gbh=1&CurrentPage=MyeBayBidding&ssPageName=STRK:ME:LNLK:MEBIDX" _sp="m570.l1535" class="gh-eb-oa thrd">Bids/Offers</a></li><li><a href="http://www.ebay.com/myb/WatchList" _sp="m570.l1534" class="gh-eb-oa thrd">Watch list</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbayBeta&CurrentPage=MyeBayNextListIndex&wl=1" _sp="m570.l3067" class="gh-eb-oa thrd">Wish list</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbayBeta&CurrentPage=MyeBayNextListIndex&tagId=-100&ssPageName=STRK:ME:LNLK:MESINDXX" _sp="m570.l2618" class="gh-eb-oa thrd">All lists</a></li><li><a href="http://www.ebay.com/mbf/PurchaseHistory" _sp="m570.l1536" class="gh-eb-oa thrd">Purchase history</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&gbh=1&CurrentPage=MyeBayAllSelling&ssPageName=STRK:ME:LNLK:MESX" _sp="m570.l1537" class="gh-eb-oa thrd">Selling</a></li><li><a href="http://www.ebay.com/cln/_mycollections" _sp="m570.l4780" class="gh-eb-oa thrd">My Collections</a></li><li><a href="http://my.ebay.com/ws/eBayISAPI.dll?MyEbay&gbh=1&CurrentPage=MyeBayAllFavorites" _sp="m570.l1538" class="gh-eb-oa thrd">Followed searches</a></li><li><a href="http://mesgmy.ebay.com/ws/eBayISAPI.dll?ViewMyMessages&gbh=1&ssPageName=STRK:ME:LNLK&CurrentPage=MyeBayMyMessages" _sp="m570.l1539" class="gh-eb-oa thrd">Messages</a></li><li id="gh-eb-sub-li-cpn"></li></ul></div></div></li><li id="gh-cart" class="gh-eb-li rt"><a href="http://cart.payments.ebay.com/sc/view" _sp="m570.l2633" title="Your shopping cart is empty" class="gh-eb-li-a" alt="Your shopping cart is empty"><i id="gh-cart-i" class="gh-sprRetina"></i></a></li></ul></div> </div><!--ts:2014.11.28.08:15--><!--rq:--><!--rvr:59rc5-->
</div>
				</div>
			</div><div id="CenterPanelDF"><div id="CenterPanel" class="ebaylocale_en_US ebay_longlngsite   ">
					
 



		<!-- Placement 100011 && 100012 -->
<div id="CenterPanelInternal">
<div id="PicturePanel" class="pp-c">
	<h3 class="g-hdn">Picture Information</h3>
	<div class="pp-ic pp-ic500">
		<div class="l-shad lftd  img img500">
			<table class="img img500">
				<tbody>
					<tr>
						<td class="img img500">
						<div id="test"><!-- test --></div><script type="text/javascript">var sPT = new Date().getTime(),picTimer,picTimer1,picTimer2;</script>
							<a id="linkMFainImg" href="javascript:;" style="display: block; cursor: default; text-decoration: none;">
									<div id="mainImgHldr" style="width:500px" title="hp-ku-0316-Keybord">
										<!-- <span id="mainImgHldr" style="display: inline-block;"> -->
											<img id="icThrImg" class="img img500 vi-hide-mImgThr" style="display: none;" src="stylesheets/iconImgNA_96x96.gif" imgsel="0" alt="Image is loading"> 
												<img id="icImg" class="img img500" itemprop="image" src="<%=pictureurl%>" onload="picTimer=new Date().getTime();" clk="0" alt="hp-ku-0316-Keybord" mskuskip="false">
										<!-- </span> -->
									<div id="vi_zoom_trigger_mask" class="zoom_trigger_mask" style="height: 500px; width: 500px; top: 0px; left: 1px; display: none;">
		
	</div><span id="zoom_selector" class="zoom_slct" style="height: 0px; width: 0px; left: 314px; top: 279.5px; display: none;"></span></div>
									</a>
								<span id="imgNATxt" class="imgNa" style="display: none;">Image not available</span>
						<span id="varImgNATxt" class="imgNa" style="display:none">Photos not available for this variation</span>
						<noscript>&lt;style type="text/css"&gt;.vi-hide-mImgThr {display: none;}&lt;/style&gt;&lt;img id="icImg" class="img img500" itemprop="image" src="<%=pictureurl%>" style="" clk="" alt="hp-ku-0316-Keybord" /&gt;</noscript>
						<script type="text/javascript">
							function picOnLoad(isSetClkId){
								var elem = document.getElementById('icThrImg'); 
								var pic = document.getElementById('icImg'); 
								elem.style.display = 'none'; 
								pic.style.display = ''; 
								if(isSetClkId) {
									pic.setAttribute('clk', elem.getAttribute('imgsel'));	
								} 
								document.getElementById('imgNATxt').style.display = 'none';
								return;
							}
							function picOnError(){
								var elemThr = document.getElementById('icThrImg');
								var pic = document.getElementById('icImg'); 
								elemThr.src='http://p.ebaystatic.com/aw/pics/cmp/icn/iconImgNA_96x96.gif'; 
								elemThr.style.display = ''; 
								pic.style.display = 'none'; 
								pic.setAttribute('clk', elemThr.getAttribute('imgsel')); 
								document.getElementById('imgNATxt').style.display = 'block';
								return;
							}
							var image = document.createElement('img');
							image.src= 'http://i.ebayimg.com/00/s/NzUwWDEwMDA=/z/TUkAAOSwxH1T4Weu/$_12.JPG';
							if(image.complete ||  image.readyState === 4){
								picTimer2=new Date().getTime();
								picOnLoad(true);
							}else{
							    image.onload = function(){ 
							    	picTimer1=new Date().getTime();
							    	picOnLoad(true);
							    };
							    image.onerror = function(){ 
									picOnError();	
								};
							}
							image.onerror = function(){ 
								picOnError();	
							};
						</script>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	
	
	
	
	
	
	
<div class="vi_pl_panel" id="viEnlargeImgLayer">
	<button class="vi_pl_cls_btn">X</button>
	<div class="vi_img_crsl_cmp">
	<div class="vi_img_crsl_imgpl ">
		<a title="To Previous Image" aria-label="To Previous Image" class="pntrArr pntrArrPrev pntrArrImg activePrev" href="javascript:;"></a>
		<table class="vi_img_crsl_tbl">
			<tbody>
				<tr>
					<td class="vi_img_crsl_tbl">			
						<div class="vi_img_crsl_ctr"><img id="viEnlargeImgLayer_img_ctr" alt="" src="stylesheets/s.gif" clk=""></div>						
					</td>
				</tr>
			</tbody>
		</table>
		<a title="To Next Image" aria-label="To Next Image" class="pntrArr pntrArrNext pntrArrImg activeNext" href="javascript:;"></a>
	</div>
</div>		

<div class="vi_img_crsl_fspl_trg">
					<div class="vi_img_crsl_fspl vi_crsl_fspl_blk">	
						<div style="width:100%; padding-top: 15px;">	
							<div id="viEnlargeImgLayer_layer_fs_slider" class="vi-filmstp" style="width:500px">
		<a href="javascript:;" class="gspr flm-btn pre "></a>
		<div id="viEnlargeImgLayer_layer_fs" class="fs_imgc" style="">
			<ul class="lst icon">
				<li>
						<a id="viEnlargeImgLayer_layer_fs_thImg0" href="javascript:;" title="hp-ku-0316-Keybord" class="pic pic1">
							<table class="img">
								<tbody><tr>
									<td class="tdThumb" style="height:64px; ">
										<div>
												<img src="stylesheets/$_14.JPG" style="max-width:64px;max-height:64px" index="0" onerror="try{this.src=&#39;http://p.ebaystatic.com/aw/pics/cmp/icn/iconImgNA_96x96.gif&#39;;}catch(e){}" alt="hp-ku-0316-Keybord">
										</div>	
									</td>
								</tr>
							</tbody></table>
						</a>
					</li>
				<li>
						<a id="viEnlargeImgLayer_layer_fs_thImg1" href="javascript:;" title="hp-ku-0316-Keybord" class="pic pic1">
							<table class="img">
								<tbody><tr>
									<td class="tdThumb" style="height:64px; ">
										<div>
												<img src="stylesheets/$_14(1).JPG" style="max-width:64px;max-height:64px" index="1" onerror="try{this.src=&#39;http://p.ebaystatic.com/aw/pics/cmp/icn/iconImgNA_96x96.gif&#39;;}catch(e){}" alt="hp-ku-0316-Keybord">
										</div>	
									</td>
								</tr>
							</tbody></table>
						</a>
					</li>
				<li>
						<a id="viEnlargeImgLayer_layer_fs_thImg2" href="javascript:;" title="hp-ku-0316-Keybord" class="pic pic1">
							<table class="img">
								<tbody><tr>
									<td class="tdThumb" style="height:64px; ">
										<div>
												<img src="stylesheets/$_14(2).JPG" style="max-width:64px;max-height:64px" index="2" onerror="try{this.src=&#39;http://p.ebaystatic.com/aw/pics/cmp/icn/iconImgNA_96x96.gif&#39;;}catch(e){}" alt="hp-ku-0316-Keybord">
										</div>	
									</td>
								</tr>
							</tbody></table>
						</a>
					</li>
				</ul>
		</div>
		<a href="javascript:;" class="gspr flm-btn nxt "></a>
		<div class="sel hide"></div>
	</div>
	
	</div>
					</div>
				</div>
			</div>


	
	</div>
	
</div>

<a name="mainContent" tabindex="-1"></a>
	<div style="">
		<h1 class="it-ttl" itemprop="name" id="itemTitle"><span class="g-hdn">Details about  &nbsp;</span><%=productname%></h1>
				<!-- DO NOT change linkToTagId="rwid" as the catalog response has this ID set  -->
		</div>
	<div class="it-rlBr  it-rlBr500 " style="">
					</div>
			<span id="vi-lkhdr-itmTitl" class="u-dspn"><%=productname%></span>
 	
	<div id="LeftSummaryPanel" class="lsp-c lsp-cRight  lsp-cL500  lsp-de">
		<div class="is " style="overflow:hidden;">
	<form action="http://offer.ebay.com/ws/eBayISAPI.dll?MakeBid&fromPage=2047675&item=191427500712&pt=PCA_Mice_Trackballs&fb=2" method="post" name="viactiondetails">
 		<div class="nonActPanel ">
		<h2 class="g-hdn">Item Information</h2>
		<div>
	<div class="u-flL lable">
		Item condition:</div>
	<div class="u-flL condText  " id="vi-itm-cond"><%=condition%></div>
		</div>

<!-- volume pricing -->
			<!-- volume pricing ends -->
			<div class="u-cb spcr a1"></div>
						
						
						
<div class="u-cb spcr "></div>
				<div class="u-cb spcr vi-compat-hide"></div>
			<div class="u-cb" style="height:2px"></div>
		</div>
		<div class="c-std vi-ds3cont-box-marpad">
		<div class="actPanel  vi-noborder ">	
		<div class="u-cb spcr vi-bbox-spcr22 vi-compat-hide"></div>
			<div class="u-cb">
		<div class="vi-bbox-dspn u-flL lable pdT4 ">Price:</div> 
			<div class="u-flL w29 vi-price" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
				<span class="notranslate" id="prcIsum_bidPrice" itemprop="price">US $<%=price%></span>
					<div id="isum-shipCostDiv" class="sh-CostBB" style="display: none;">+$5.08 shipping</div>
				<span itemprop="availability" content="http://schema.org/InStock"></span>
				<span itemprop="priceCurrency" content="USD"></span>
				<!--Added for VAT message - DE site. Show VAT included msg just below the price. Converted price message should come after this message.-->
				<!-- Vat Excluded message -->
				</div>
			<span class="u-dspblk">
	<div class="u-flL pdT4 pdR8">
		
		</div>
</span>
</div> 
		
		<div class="vi-bbox-dspn u-cb spcr"></div>
			
			<div class="u-cb">
				<div class="vi-bbox-dspn u-flL lable pdT3">&nbsp;</div>
				
				<div class=""></div>
				<!-- TODO: remove hardcoded Id's -->
				<div class="u-flL ">
					<!-- inserting code for another button -->
 						<!-- code ends  -->
					<a role="button" _sp="p2047675.l4023" id="bidBtn_btn" style="" class="btn btn-prim  vi-VR-btnWdth-XL" href="http://offer.ebay.com/ws/eBayISAPI.dll?MakeBid&fromPage=2047675&item=191427500712&pt=PCA_Mice_Trackballs&fb=2" vib="vib" rel="nofollow">
							Buy it now</a>
						</div>
				<!-- ShowStatusOnLoad -->
				</div>
			<div class="u-cb vi-bbox-dspn">
					<div class="u-flL lable">&nbsp;</div>
					
				</div>
			<!-- //TODO : remove hardcoded ID for Shipping cost -->
<div class="u-cb spcr vi-bbox-spcr10"></div>
		</div>
	
	</div>
		<div id="vi-lkhdr-v4-plchdr"></div>
	   <div id="vi-spw-atf">
	   	</div>		
		
		<div id="itemLocation"><div class="lable u-flL vi-acc-hide">&nbsp;</div>
				
				<div class="u-cb"></div>
			</div><div class="u-cb"></div>
			
			<div class="u-flL lable" id="paymentsPlaceHolderId" style="">
	Payments:</div><div class="u-flL rpColWid">
	<div id="payDet1" class="">
			<img class="pd-img" style="margin-right: 10px;" src="stylesheets/logoPayPal_51x14.png" alt="PayPal" border="0">															
												<span style="position:relative;">
														<img src="stylesheets/CC_icons.png" alt="Visa/MasterCard, Amex, Discover" title="Visa/MasterCard, Amex, Discover" class="pd-pp-cc-container">
																				<div class="vi-ppc-coffer-txt">Credit Cards processed by PayPal</div>		
																			<div class="u-cb u-spcr-ht15"></div>
																			</span>
													<div>
										<img src="stylesheets/logoPaypalCredit_104x16.png" class="pd-ppc-img" alt="PayPal Credit">							
									</div>
									<div class="vi-cc-exp-txt">
											<span id="vi-ppc-longMsgPH">New customers get $10 back on 1st purchase&nbsp;</span>
											<a href="https://apply.billmelater.com/apply?guid=F2W40R2E&assetId=NBRVI1114" target="_blank" class="vi-ds3-ter-a pd-lnk vi-ppc-offlnk">Apply Now<b class="hideforacc"> - opens in a new window or tab</b></a>
												&nbsp;|&nbsp;
											<a href="https://apply.billmelater.com/apply?guid=F2W40R2E&assetId=NBRVI1114" target="_blank" class="vi-ds3-ter-a pd-lnk  vi-ppc-offlnk" aria-describedby="vi-ppc-longMsgPH">See Terms<b class="hideforacc"> - opens in a new window or tab</b></a>
										</div>
									<span><a rel="nofollow"></a>
						<a id="e5" aria-describedby="paymentsPlaceHolderId" href="http://www.ebay.com/itm/hp-ku-0316-Keybord-/191427500712?pt=PCA_Mice_Trackballs&hash=item2c91f7daa8#payCntId" class="vi-ds3-ter-a pd-lnk vi-payd-blk-lnk">See <b class="hideforacc">payment</b> details</a>
							</span>
			</div>
		<div class="pd-showGspLegal">
			International shipping and import charges paid to Pitney Bowes Inc. <a class="vi-ds3-ter-a" style="white-space:nowrap;" href="http://pages.ebay.com/shipping/globalshipping/buyer-tnc.html#paymentsplit" target="_blank">Learn More<b class="hideforacc">- opens in a new window or tab</b></a></div>
	<div id="rtm_html_699" style="height: 0px; display: none;"></div>
	</div><div class="u-cb spcr"></div>
			<div>
	<div id="returnsPlacementHolderId" class="u-flL lable">Returns:</div>
	<div class="u-flL rpColWid">
			<table width="100%">
				<tbody><tr>
					<td class="rpWrapCol">
						<span id="vi-ret-accrd-txt" class=" vi-no-ret-accrd-txt"> Seller does not offer returns. You are covered by the <a href="http://pages.ebay.com/coverage/index.html">eBay Money Back Guarantee<b class="g-hdn"> - opens in a new window or tab</b></a> if you received an item that is not as described in the listing.</span>
					</td>
				</tr>
		</tbody></table>
	</div>
</div>
<div class="u-cb spcr"></div>
			<div>
   		<div id="coveragePlacementHolderId" class="u-flL lable vi-ebp2-lbl">Guarantee:</div>
			<div class="u-flL  rpColWid ">
        	<table class="vi-ebp2-logo-tbl" width="100%">
        		<tbody><tr>
        			<td class="vi-ebp2-logo-tbl-cell" colspan="2">
<span id="vi-ebp2-logo" class="vi-ebp2-logo"><span class="hideforacc">Money Back Guarantee</span></span>
        				<span class="vi-ebp2-lmlnk">&nbsp;|&nbsp;<a href="http://pages.ebay.com/ebaybuyerprotection/index.html" target="_blank" class="vi-ds3-ter-a si-pd" aria-describedby="coveragePlacementHolderId">See details<b class="hideforacc"> - opens in a new window or tab</b></a></span>
        					</td>
        		</tr>
        		<tr>
		        			<td colspan="2" style="font-size:12px;">
		        				Get the item you ordered or get your money back.</td>
		        		</tr>  
		        		<tr>
			        			<td colspan="2" style="font-size:11px;">
			        				Covers your purchase price and original shipping.</td> 
			        		</tr>	
		        		</tbody></table>
        	
             
             
        </div>
    </div> </form>
	
	</div>


<!-- Error build tag(class com.ebay.webres.resource.tag.UseScriptTag) with value(null)! --></div>
</div>

	<div style="clear:both"></div>
</div>
				</div>
		
		</div>
	
	
	<!-- RcmdId _vi_index-jsp,RlogId t6ulcpjqcj9%3Fuk%601d71f%2B1%3A%3Cb-149f8edde97-0xc7 -->

</body></html>